{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
     <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <title>Document</title>
</head>
<body>

<nav>
    <div class="nav-wrapper purple lighten-3">
        <a href="#" class="brand-logo">Film Collection</a>
        <ul class="right">
            <li><a href="{% url 'films_index' %}">View Films</a></li>
            <li><a href="{% url 'films_create' %}">Add New Film</a></li>
        <li><a href=""></a></li>
        </ul>
    </div>
</nav>

{% block content %}
{% endblock %}
</body>
</html>