body {
    background-color: rgb(128, 99, 99);
}

a {
    text-decoration: none !important;
    color: black;
}

.bold {
    font-weight: bold !important;
}

.hoverable:hover {
    cursor: pointer;
}
